<div class="container-fluid">
  <div class="row">
    <div class="displayBlockMobile" style="width:99.999%;z-index:1">

      <nav class="navbar navbar-expand-lg navbar-dark" style="background:black">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"><img src="./../../../assets/iron_man.jpg" alt=""></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/adminhome']">Admin Home</a>
            </li>
            <li class="nav-item" *ngIf='userId'>
              <a class="nav-link" [routerLink]="['/admindashboard',userId]">Dashboard</a>
            </li>
          </ul>
          <button class="btn btn-primary" (click)="logout()">logout</button>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top:40px">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Edit or Delete Your Meeting
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" class="form-control" [(ngModel)]="meeting.title" name="title" id="title"
                    aria-describedby="emailHelp" placeholder="Title">

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="purpose">Purpose:</label>
                  <input type="text" class="form-control" [(ngModel)]="meeting.purpose" name="purpose" id="purpose"
                    placeholder="Purpose">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input type="text" class="form-control" [(ngModel)]="meeting.location" name="location" id="location"
                    aria-describedby="emailHelp" placeholder="Location">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="color">color:</label>
                  <br>
                  <input type="color" class="color" [(ngModel)]="meeting.color" name="color" id="exampleInputPassword3">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <label>Start Date:</label>
                    
                    <input class="form-control" placeholder="yyyy-mm-dd" type="date" [(ngModel)]="meeting.start"
                      name="start" ngbDatepicker #d="ngbDatepicker" required>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <label>End Date:</label>
                    
                    <input class="form-control" placeholder="yyyy-mm-dd" type="date" name="end" ngbDatepicker
                      #end="ngbDatepicker" [(ngModel)]="meeting.end" required>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="end.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Start Time:</label>
                  <ngb-timepicker [(ngModel)]="startTime" name="startTime" [meridian]="true" required></ngb-timepicker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>End Time:</label>
                  <ngb-timepicker [(ngModel)]="endTime" name="endTime" [meridian]="true" required></ngb-timepicker>
                </div>
              </div>
            </div>
            <br>
            <div class="flex-container">

              <div class="back"><button class="back1" (click)="goBack()"><i class="fas fa-arrow-left"></i>Back</button>
              </div>
              <div class="edit"><button type="submit" class="butt" (click)="updateMeeting()"><i
                    class="fas fa-edit"></i>Update</button></div>
              <div class="delete"><button class="butt" (click)="deleteMeeting()" class="deletebutton"><i
                    class="fas fa-trash-alt"></i>Delete</button></div>
            </div>
            <br><br>

          </form>

        </div>

      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>