<div class="container-fluid">
    <h1 class="header">Meeting Planner</h1>
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-7">

        </div>
        <div class="col-md-8 col-lg-8 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <i class="fas fa-unlock"></i>
                        reset-password
                    </div>
                    <form>

                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail4" name="email"
                                [(ngModel)]="email" placeholder="enter your registered email">
                        </div>
                        <div class="btn-alignment" *ngIf="email"
                            style="border-bottom:1px solid white;padding-bottom:20px;">
                            <p class="loader" *ngIf="signuploader==false"></p>
                            <button type="submit" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalLong" (click)="sendToken()">Sendcode</button>
                        </div>
                    </form>


                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" data-backdrop="static"
                        data-keyboard="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="">Reset Code</label>

                                            <input type="text" class="form-control" id="resetPasswordToken"
                                                name="resetPasswordToken" [(ngModel)]="resetPasswordToken"
                                                placeholder="enter resetcode sent to your registered mail">
                                        </div>
                                        <div class="form-group">
                                            <label for="">New password</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                [(ngModel)]="password" placeholder="enter new password">
                                        </div>

                                        <div class="btn-alignment">
                                            <p class="loader" *ngIf="signinloader==false"></p>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="resetpassword()">Reset</button>
                                        </div>
                                        <div class="signup">
                                            <a [routerLink]="['/sigin']" style="font-size:16px;">signin</a>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>




                    </div>


                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-1">


            </div>
        </div>
        <div class="container footer">
            <div class="row">

            </div>
        </div>
    </div>