@import "~@fortawesome/fontawesome-free/css/all.css";
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 10px;
    width: auto;
}
img {
    width:50px;
}
.navbar-collapse ul li a{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    border:2px solid white;
    padding:10px;
    margin-left:30px;
    margin-right:30px;
    border-radius:30px;
    text-align:center;
    cursor: pointer;
    transition:1s;
}
.navbar-collapse ul li a:hover {
    color:red;
 }
 #active {
     text-decoration:underline;
 }
.btn-primary {
    border:1px solid white;
    background-color:rgb(70, 69, 69);
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    text-align:center;
    width:100%;
    text-shadow:0px 0px 5px white;
}
@media only screen and (max-width:990px) {
    .navbar-collapse ul {
        text-align:center;
       width:200px;
       text-align:center;
       margin-left:auto;
       margin-right:auto;
    }
    .navbar-collapse ul li {
    text-align:center;
       padding:10px;
        display: block;
    }
}
.color{
    width:100px;
}

.card {
    box-shadow:0 10px 10px;
}
.card-header {
    text-align:center;
    text-transform:uppercase;
    color:black;
    font-family: cursive;
    font-weight:600;
    font-size:20px;
}
label {
    color:black;
    text-transform:uppercase;
    font-weight:500;
    font-style:italic;
}
input {
    border-color:black;
}
.btn-primary:hover {
    background-color:blue;
}
.back{
    width:100%;
    text-align: center;
}

.back1:hover {
    background-color:navy;
}
.flex-container {
    display: flex;
   justify-content: space-around;

  }
 @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}